# Add any directories, files, or patterns you don't want to be tracked by version control

vendor
glide.lock
biller_connector_ptpos
configurations/App.yaml
logs
*.lint
.DS_Store
*.log
.idea
commands/schema
